
@font-face {
  font-family: KairosSans;
  font-display: swap;
  src: url(https://yoksel.github.io/variable-fonts/assets/fonts/KairosSans/KairosSans_Variable.ttf) format("truetype");
}

.demo {
  position: relative;
  height: 100%;
}

.demo--centered {
  height: auto;
}

.demo--full {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.demo--column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.demo--cells {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;

  SPAN {
    margin: 1rem 0;
  }
}

.demo--decovar {
  .font {
    margin: 0;
    font-size: 180px;
    color: #000;
  }
}

.demo--upper {
  text-transform: uppercase;
}

.demo--languages {
  padding: 0 2rem;
  align-content: space-evenly;

  .font {
    height: 190px;
    margin: 0;
    padding-bottom: 30px;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    color: #000;

    &--big {
      font-size: 150px;
    }
  }
}

.demo--emoji {
  padding: 0 50px;

  .font {
    font-size: 190px;
  }
}

.demo--tiny {
  display: flex;
  height: auto;

  .font {
    margin-right: 2rem;
    font-size: 120px;
  }
}

.demo__example {
  font-size: 250px;
  line-height: .75;
  color: #000;

  H1 {
    margin: 0 0 .25em;
  }

  .demo--optical & {
    font-size: 130px;
    line-height: 1;
  }

  .demo--optical-with-content & {
    font-size: 40px;
    line-height: 1.2;

    P {
      max-height: 240px;
      overflow: hidden;
      margin-bottom: .5em;
    }
  }

  .demo--weight & {
    line-height: 1;
  }
}

.demo__code {
  margin-bottom: 40px;
}

.demo--shaped {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  max-height: 100%;

  P {
    max-height: 100%;
    margin: 0;
    flex-basis: 50%;
    overflow: hidden;
    text-align: justify;
    line-height: 1.11;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
  }

  P:nth-child(1)::before {
    content: "";
    display: block;
    float: right;
    width: 85%;
    height: 100%;
    shape-outside: polygon(90% 0, 0 100%, 100% 100%);
  }
  P:nth-child(2)::before {
    content: "";
    display: block;
    float: left;
    width: 85%;
    height: 100%;
    shape-outside: polygon(0 0, 100% 0, 10% 100%);
  }

  .demo__title {
    position: absolute;
    top: 43%;
    left: 51.65%;
    white-space: nowrap;
    transform: translate(-50%, -50%) rotate(-55deg);
    font: 10rem/1 'Gilbert';
    text-align: center;
    display: flex;
    flex-wrap: wrap;

    SPAN {
      flex-basis: 100%;
    }

    SPAN:first-child {
      position: relative;
      left: -105px;
      bottom: -40px;
    }
    SPAN:last-child {
      position: relative;
      left: 15px;
      font-size: 16rem;
    }
  }
}

.demo-range {
  width: 100%;
  margin-top: 32px;
  padding: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ececec;
  border-radius: 5px;
}

.demo-range__container {
  margin: 0 10px;
  display: flex;
  align-items: center;
}

.demo-range__input {
  height: 3em;
  cursor: pointer;
}

$color1: honeydew;
$color2: turquoise;
$color3: lightseagreen;

.demo--layered {
  .font {
    position: relative;
    margin-bottom: 3rem;
    z-index: 1;
    font-feature-settings: 'liga' 0, 'dlig' 0, 'calt' 1;
    font-variation-settings: "wght" 10;
    text-shadow: 0 0 0 rgba(0,0,0,.5);
    color: $color2;

    &:hover {
      text-shadow: 0 10px 5px rgba(0,0,0,.25);
    }
  }

  .font::before,
  .font::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-shadow: inherit;
    transition: all .25s;
  }

  .font::before {
    font-feature-settings: 'liga' 1, 'dlig' 0, 'calt' 0;
    color: $color1;
  }

  .font:hover::before {
    top: -10%;
    left: -10%;
  }

  .font::after {
    z-index: -1;
    font-feature-settings: 'liga' 0, 'dlig' 1, 'calt' 0;
    color: $color3;
  }

  .font:hover::after {
    top: 10%;
    right: -10%;
    text-shadow: none;
  }
}
