.demo {
  position: relative;
  height: 100%;
}

H4 + .demo{
  max-height: 90%;
}

.demo--centered {
  height: auto;
}

.demo--full {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.demo--column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.demo--cells {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-evenly;

  .demo__item {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .demo__item--wide {
    flex-basis: 100%;
  }
}

.demo--list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .demo__item {
    display: flex;
    align-items: center;
  }

  .demo__item + .demo__item {
    margin-top: 1rem;
  }

  pre[class*="language-"] {
    margin-left: 3rem;
  }
}

.demo--bullets {
  // dirty hack for jumping slides
  height: 490px;
  overflow: hidden;
}

.demo--mask-images {
  flex-wrap: nowrap;

  .demo__item {
    flex-direction: column;
  }
}

.demo--upper {
  text-transform: uppercase;
}

.demo__item {
  /*outline: 1px dashed #DDD;*/
  position: relative;
  background:
      linear-gradient(#DDD 1px, transparent 1px),
      linear-gradient(to right, #DDD 1px, transparent 1px);
  background-repeat: repeat-x, repeat-y;
  background-size: 100% 1px, 1px 100%;
  background-position: 0 50%, 50% 0;

  background: none;
}

.demo__item--arrow {
  flex-grow: 0;
  flex-basis: auto !important;
  font-size: 3em;
}

.demo__item .browser {
  position: absolute;
  top: 0;
  right: 0;
}

.demo__example {
  font-size: 250px;
  line-height: .75;
  color: #000;

  H1 {
    margin: 0 0 .25em;
  }

  .demo--optical & {
    font-size: 130px;
    line-height: 1;
  }

  .demo--optical-with-content & {
    font-size: 40px;
    line-height: 1.2;

    P {
      max-height: 240px;
      overflow: hidden;
      margin-bottom: .5em;
    }
  }

  .demo--weight & {
    line-height: 1;
  }
}

.demo__code {
  margin-bottom: 40px;
}

.demo--shaped {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  max-height: 100%;

  P {
    max-height: 100%;
    margin: 0;
    flex-basis: 50%;
    overflow: hidden;
    text-align: justify;
    line-height: 1.11;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
  }

  P:nth-child(1)::before {
    content: "";
    display: block;
    float: right;
    width: 85%;
    height: 100%;
    shape-outside: polygon(90% 0, 0 100%, 100% 100%);
  }
  P:nth-child(2)::before {
    content: "";
    display: block;
    float: left;
    width: 85%;
    height: 100%;
    shape-outside: polygon(0 0, 100% 0, 10% 100%);
  }

  .demo__title {
    position: absolute;
    top: 43%;
    left: 51.65%;
    white-space: nowrap;
    transform: translate(-50%, -50%) rotate(-55deg);
    font: 10rem/1 'Gilbert';
    text-align: center;
    display: flex;
    flex-wrap: wrap;

    SPAN {
      flex-basis: 100%;
    }

    SPAN:first-child {
      position: relative;
      left: -105px;
      bottom: -40px;
    }
    SPAN:last-child {
      position: relative;
      left: 15px;
      font-size: 16rem;
    }
  }
}

.demo-range {
  width: 100%;
  margin-top: 32px;
  padding: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ececec;
  border-radius: 5px;
}

.demo-range__container {
  margin: 0 10px;
  display: flex;
  align-items: center;
}

.demo-range__input {
  height: 3em;
  cursor: pointer;
}

$color1: honeydew;
$color2: turquoise;
$color3: lightseagreen;

.demo--layered {
  .font {
    position: relative;
    margin-bottom: 3rem;
    z-index: 1;
    font-feature-settings: 'liga' 0, 'dlig' 0, 'calt' 1;
    font-variation-settings: "wght" 10;
    text-shadow: 0 0 0 rgba(0,0,0,.5);
    color: $color2;

    &:hover {
      text-shadow: 0 10px 5px rgba(0,0,0,.25);
    }
  }

  .font::before,
  .font::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-shadow: inherit;
    transition: all .25s;
  }

  .font::before {
    font-feature-settings: 'liga' 1, 'dlig' 0, 'calt' 0;
    color: $color1;
  }

  .font:hover::before {
    top: -10%;
    left: -10%;
  }

  .font::after {
    z-index: -1;
    font-feature-settings: 'liga' 0, 'dlig' 1, 'calt' 0;
    color: $color3;
  }

  .font:hover::after {
    top: 10%;
    right: -10%;
    text-shadow: none;
  }
}
