.emoji-proposals-table {
  width: 100% !important;
  // height: 100%;
  margin-left: 0 !important;
  margin-bottom: 0 !important;
  padding: 1rem;
  border: none;
  font-size: 20px;
  line-height: 1.4;

  TD,
  TH {
    background-size: 2px 100% !important;
    padding: .55rem !important;
    border: none;
    vertical-align: top;
    text-align: left;
  }

  TH {
    background-color: #EEE !important;
    color: #999;

    &:empty {
      background: none !important;
    }
  }

  TD[rowspan] {
    border-left: 1px solid var(--color-line);
  }

  &__colored-tr {
    border-top: 2px solid #000;
  }

  .nowrap {
    white-space: nowrap;
  }

}

