@font-face {
  font-family: 'Pacifico-Regular';
  src: url('../fonts/Pacifico/Pacifico-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilbert';
  src: url('../fonts/Gilbert_1.004_alpha/Gilbert-Color-Bold-Preview_1004.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bixa';
  src: url('../fonts/NTBixa-Color-original/NTBixa-Color.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Abelone';
  src: url('../fonts/Abelone/Abelone-FREE.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playbox';
  src: url('../fonts/Playbox/Playbox-FREE.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KairosSans';
  src: url('../fonts/KairosSans/KairosSans_Variable.ttf') format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'FF Meta VF';
  src: url('../fonts/FFMeta/MetaVariableDemo-Set.woff2') format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'AmstelvarVF';
  font-display: swap;
  src: url('../fonts/Amstelvar/AmstelvarAlpha-VF.ttf') format("truetype");
}

@font-face {
  font-family: 'Gingham';
  font-display: swap;
  src: url('../fonts/Gingham/Gingham.ttf') format("truetype");
}

@font-face {
  font-family: 'Decovar';
  src: url('../fonts/Decovar/DecovarAlpha-VF.ttf') format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'VotoSerif';
  font-display: swap;
  src: url('../fonts/VotoSerif/VotoSerifGX.ttf') format("truetype");
}

@font-face {
  font-family: 'dTJakob';
  font-display: swap;
  src: url('../fonts/dT_Jakob_VariableConcept/dTJakobVariableConceptGX.ttf') format("truetype");
}

@font-face {
  font-family: 'Slovic';
  font-display: swap;
  src: url('../fonts/Slovic/Slovic_Demo_VarGX.ttf') format("truetype");
}

.font {
  position: relative;
  font: 160px/1 Arial Black, sans-serif;
  color: yellowgreen;

  &--large {
    font-size: 500px;
  }
}

.fonts--colored {
  .font {
    &:nth-child(1) {
      color: tomato;
    }
    &:nth-child(3) {
      color: steelblue;
    }
    &:nth-child(4) {
      color: gold;
    }
  }
}

/* Color */

.font--gilbert {
  font-family: 'Gilbert';
}

.font--bixa {
  font-family: 'Bixa';
}

.font--abelone {
  font-family: 'Abelone';
}

.font--playbox {
  font-family: 'Playbox';
}

.font--rainbow {
  text-align: center;
  font-family: 'Slovic';
  // font-feature-settings: "ss01";
  font-size: 300px;
  color: #000;

  SPAN {
    display: block;
    font-size: 120px;
  }

  @supports (-webkit-background-clip: text) {
    background: linear-gradient(to left bottom,
      indigo 10%,
      gold 0, gold 20%,
      teal 0, teal 30%,
      purple 0, purple 40%,
      orange 0, orange 50%,
      crimson 0, crimson 60%,
      yellowgreen 0, yellowgreen 70%,
      skyblue 0, skyblue 80%,
      purple 0, purple 90%,
      indigo 0
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  .active & {
    // animation: fontStyles 3s linear infinite alternate;
  }
}

.font--fallback-base {
  color: #000;
}

.fonts--fallback {
  .font {
    font-size: 220px;
  }
}

.font--fallback {
  color: crimson;

  @supports (-webkit-background-clip: text) {
    background: linear-gradient(to bottom,
      indigo 10%,
      purple 0, purple 20%,
      crimson 0, crimson 30%,
      orange 0, orange 40%,
      gold 0, gold 50%,
      yellowgreen 0, yellowgreen 60%,
      // skyblue 0, skyblue 70%,
      teal 0, teal 70%,
      purple 0, purple 80%,
      indigo 0
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 100% 83%;
    background-position: center;
  }

  .chromacheck-svg & {
    background: none;
  }
}


@keyframes fontStyles {
  0% {
    font-variation-settings: "STLE" 0;
  }
  25% {
    font-variation-settings: "STLE" 75;
  }
  50% {
    font-variation-settings: "STLE" 50;
  }
  75% {
    font-variation-settings: "STLE" 25;
  }
  100% {
    font-variation-settings: "STLE" 100;
  }
}

/* Variable */

.font--kairo {
  font-family: 'KairosSans';
}

.font--ffmeta {
  font-family: 'FF Meta VF';
}

.font--amstel {
  font-family: 'AmstelvarVF';
}

.font--gingham {
  font-family: 'Gingham';
}

.font--votoserif {
  font-family: 'VotoSerif';
  font-variation-settings: "wght" 100, "wdth" 200;
  font-feature-settings: "liga" off;
}

.font--dtjakob {
  font-family: 'dTJakob';
}

.font--decovar {
  font-family: 'Decovar';

  &:nth-child(1) {
    font-variation-settings: "BLDA" 1000;
  }
  &:nth-child(2) {
    font-variation-settings: "BLDA" 367.3, "TRME" 1000;
  }
  &:nth-child(3) {
    font-variation-settings: "TRMG" 1000;
  }
  &:nth-child(4) {
    font-variation-settings: "BLDA" 913.8, "BLDB" 162.8, "SKLB" 1000;
  }
  &:nth-child(5) {
    font-variation-settings: "TRMD" 1000, "SKLA" 1000;
  }
  &:nth-child(6) {
    font-variation-settings: "TRMC" 1000, "SKLD" 226.7;
  }
}

.font--animated {
  position: relative;
  font-family: 'KairosSans';
  font-size: 180px;
  text-align: center;

  .active & {
    animation: fontVariations 5s infinite;
  }
}

@supports (-webkit-background-clip: text) {
  .font--animated {
    background: linear-gradient(to right bottom,
      indigo 10%, crimson, orange,
      gold, teal, indigo, purple
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
}

@keyframes fontVariations {
  0% {
    font-variation-settings: "ital" 0, "wght" 900, "wdth" 75;
  }
  50% {
    font-variation-settings: "ital" 0, "wght" 250, "wdth" 75;
  }
  75% {
    font-variation-settings: "ital" 1, "wght" 250, "wdth" 125;
  }
  100% {
    font-variation-settings: "ital" 0, "wght" 900, "wdth" 75;
  }
}

.font__tip {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 !important;
  color: #777;
  font-size: 1rem;
  font: italic 25px/1 'PT Sans', sans-serif;
}

.fallbacks {
  LI {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
  }

  IMG {
    max-width: 200px;
    margin-right: 0 !important;
  }
}
