.shape {
  position: relative;
  width: 200px;
  height: 200px;
  background: orangered;
  // outline: 1px solid green;

  &::before,
  &::after {
    content: "";
    }
}

.shape--circle {
  border-radius: 50%;
  background: teal;
}

.shape--triangle {
  width: 0;
  height: 0;
  background: none;
  border: 1px solid;
  border-color: transparent;
  border-bottom-color: gold;
  border-width: 0 100px 200px 100px;
}

.shape--parallelogram {
  height: 0;
  width: 100px;
  background: none;
  border: 1px solid;
  border-color: yellowgreen transparent;
  border-width: 0 100px 200px;
}

/* Moon */
.shape--moon {
  left: -65px;
  top: -65px;
  border-radius: 50%;
  background: none;
  box-shadow: 1.75em 1.75em 0 0 gold;
}

/* Inifinity */
.shape--infinity {
  background: none;
  width: calc(250px - 1em);
  height: calc(250px - 1em);
  transform: rotate(45deg);
}
.shape--infinity::before,
.shape--infinity::after {
  position: absolute;
  width: 125px;
  height: 125px;
  background: none;
  border: 1em solid orangered;
  box-sizing: border-box;
  border-radius: 100% 0 100% 100%;
  }
  .shape--infinity::before {
    left: 0;
    bottom: 0;
    }
  .shape--infinity::after {
    right: 0;
    top: 0;
    border-radius: 100% 100% 100% 0;
    }

/* Smile */
.shape--smile {
  width: 150px;
  height: 150px;
  background: none;
  border: 1em solid teal;
  border-color: transparent transparent teal teal;
  border-radius: 50%;
  transform: rotate(-45deg);
  }
  .shape--smile::before {
    position: absolute;
    left: 2.75em;
    top: 0em;
    width: 1.25em;
    height: 1.25em;
    background: teal;
    border-radius: 50%;
    box-shadow: 2em 2em 0 teal;
    }

/* Star */
.shape--star,
.shape--star::before,
.shape--star::after {
    background: none;
    border-style: solid;
    }
.shape--star {
    top: 100px;
    width: 0;
    border-color: yellowgreen transparent;
    border-width: 75px 150px 0;
    }
.shape--star::before,
.shape--star::after {
    position: absolute;
    top: -165px;
    border-color: transparent yellowgreen;
    border-width: 5em 2em 3em;
    border-width: 150px 65px 120px;
    }
  .shape--star::before {
      left: -55px;
      border-right: 0;
      transform: rotate(23deg);
      }
  .shape--star::after {
      left: -10px;
      border-left: 0;
      transform: rotate(-23deg);
      }

/* Heart */
.shape--heart {
  left: -2em;
  top: -1.5em;
  width: 5em;
  height: 5em;
  margin: 3em;
  background: gold;
  border-radius: 50%;
  box-shadow: 4em 0 0 0 gold
  }
.shape--heart::before {
  content: "";
  display: block;
  position: absolute;
  left: 40%;
  top: 40%;
  width: 100%;
  height: 100%;
  background: gold;
  transform: rotate(45deg);
  }

/* Arrow */
.shape--arrow {
  width: 125px;
  height: 125px;
  background: none;
  border: 1em solid teal;
  border-right-color: transparent;
  border-radius: 50%;
  }
  .shape--arrow::after {
    display: block;
    position: absolute;
    top: -25px;
    left: 80px;
    width: 0;
    height: 0;
    border: 2.5em solid transparent;
    border-bottom-color: teal;
    border-top: 0;
    border-right: 0;
    }

/* In Yan */
.shape--in-yan {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(black 50%, white 50%);
  border: .25em solid black;

  &::before,
  &::after {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: green;
    border: 35px solid red;
  }
  &::before {
    background: #FFF;
    border-color: #000;
  }
  &::after {
    background: #000;
    border-color: #FFF;
  }
}

/* Flag */
.shape--flag {
  top: -1em;
  left: 1em;
  width: 0;
  height: 0;
  margin: 2em;
  border: 2em solid orangered;
  background: none;
  border-right-color: transparent;
  border-left-width: 3em;
  font-size: 1.25em;
  }
  .shape--flag::after {
    position: absolute;
    left: -4em;
    top: -2em;
    height: 6em;
    border-left: 1em solid orange;
  }
