.slide {
  padding: 40px 50px;

  UL {
    margin-left: 1.25em;
  }

  IMG {
    display: block;
    margin: auto;
  }

  /* Tables */
  TD, TH {
    text-align: center;

    &:first-child {
      text-align: left;
    }
  }

  TH {
    SPAN {
      font-weight: normal;
    }
  }

  THEAD TH {
    background-color: #EEE !important;
    color: #999;

    &:empty {
      background: none !important;
    }
  }

}

.slide::after {
  z-index: 10;
  left: auto;
  right: 25px;
  font-size: 24px;
}

.slide--no-label::after {
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.slide--tiny-padding {
  padding-top: 30px;
}

.slide--dark {
  background: #000;
}

.slide--css-icons {
  IMG {
    max-height: 93%;
  }
}

.slide--lemons {
  background: #190d23;
}

.slide--francine {
  background-image: linear-gradient(to bottom, #2c3521, #0b0e07);
}

.slide {
  H3, H4, H5 {
    margin-top: 0;
    margin-bottom: .35em;
  }
}

.slide--main-title {
  H2 {
    font-weight: normal;
    text-shadow: 0 0 5px black,
                 0 0 10px black;
  }
}

.slide--tiny-font {
  UL {
    font-size: 20px;
  }
}

.slide--centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide--section-title {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;

  .or {
    display: block;
    flex-basis: 100%;
    text-align: center;
  }
}

 .slide--column {
   display: flex;
   flex-direction: column;
   justify-content: space-between;

  IMG {
    margin-bottom: 0 !important;
    align-self: center;
  }

  A {
    width: auto;
    align-self: flex-start;
  }
 }

/* Titles */

.slide H2,
.slide H3,
.slide H4,
.slide H5 {
  color: var(--color-grey);
  font: bold 50px/1 'PT Sans Narrow', sans-serif;
  // margin-bottom: .75em;
}

.slide H3 {
  font-size: 42px;
}

.slide H4 {
  font-size: 34px;
}

.slide H5 {
  font-size: 30px;
}

.slide Ul + H4,
.slide Ul + H5 {
  margin-top: 1.5em;
}

.slide--section-title H2,
.slide--questions H2,
.slide--section-title H3,
.slide--section-title H4,
.dancing-poly__text {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.1;
  font-family: 'PT Sans Narrow', sans-serif;
}

.slide--section-title H1 {
  font-size: 130px;
}

.slide--section-title H2,
.slide--questions H2 {
  font-size: 110px;
}

.dancing-poly__text {
  font-size: 200px;
  letter-spacing: 3px;
}

.slide--section-title H3 {
  font-size: 100px;
}

.slide--section-title H4 {
  font-size: 80px;
}

.comparison {
  font-size: 45px;
  line-height: 1.1;
  font-family: 'PT Sans Narrow', sans-serif;
  text-align: center;

  & + & {
    margin-top: 1em;
  }

  DEL {
    font-weight: normal;
    color: #777;
  }
}

.slide--dark {

  H1,
  H2,
  H3,
  P {
    color: #FFF;
    fill: currentColor;

  }
}

.slide--support {
  background: #F2E8D5;
}

/* Slide components */

.slides-link {
  position: absolute;
  bottom: 1em;
  left: 0;
  right: 0;
  text-align: center;
}

.qr-code {
  width: 300px;
  height: 300px;
}

.slide__tips-wrapper {
  position: absolute;
  z-index: 2;
  bottom: 20px;
  right: 20px;
  left: 20px;
  display: flex;
  justify-content: space-between;
}

.slide__tip {
  position: absolute;
  z-index: 2;
  bottom: 20px;
  right: 20px;
  padding: 5px 15px;
  background: #FFF;
  border-radius: 1em;
  opacity: .45;
  font-size: 14px;
  line-height: 1.1;
  color: #000;
  transition: all .25s;

  &:hover {
    opacity: 1;
    // box-shadow: 0 0 10px rgba(0,0,0,.5);
  }

  .slide__tips-wrapper & {
    position: static;
  }
}

.slide__term {
  font-style: italic;
}


/* Allow animation only on active slide */
*,
*::before,
*::after {
  animation-play-state: paused !important;

  .active & {
    animation-play-state: running !important;
  }
}
