.text-wrapping {
  position: relative;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  // outline: 2px solid red;
  font-size: 20px;
}

.text-wrapping__img {
  float: left;
  height: 100%;
  max-height: 496px;
  clip-path: polygon(70% 2%, 100% 60%, 75% 83%, 0% 100%, 0% 2%);
}

.text-wrapping--step-1 {
  .text-wrapping__img {
    margin-right: 2em !important;
    }
}

.text-wrapping--step-2 {
  .text-wrapping__img {
    margin-right: 2em !important;
    shape-outside: polygon(70% 0%, 100% 60%, 75% 83%, 0% 100%, 0% 0%);
  }
}


.text-wrapping--both-sides {
  .text-wrapping__img--1 {
    clip-path: polygon(0% 0%, 80% 0%, 0% 100%);
    shape-outside: polygon(0% 0%, 80% 0%, 0% 100%);
    shape-margin: 2em;
  }
  .text-wrapping__img--2 {
    float: right;
    clip-path: polygon(100% 0%, 100% 100%, 20% 100%);
    shape-outside: polygon(100% 0%, 100% 100%, 20% 100%);
    shape-margin: 2em;
  }
}

.text-wrapping--cross {
  width: 80%;
  margin: auto;
  text-align: justify;
  line-height: 1.9;

  .text-wrapping__shape {
    width: 30%;
    height: 100%;
  }
  .text-wrapping__shape--1 {
    float: left;
    clip-path: polygon(0% 0%, 100% 0%, 100% 25%, 0% 25%, 0% 75%, 100% 75%, 100% 100%, 0% 100%);
    shape-outside: polygon(0% 0%, 100% 0%, 100% 25%, 0% 25%, 0% 75%, 100% 75%, 100% 100%, 0% 100%);
  }
  .text-wrapping__shape--2 {
    float: right;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 75%, 100% 75.08%, 100% 25%, 0% 25%);
    shape-outside: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 75%, 100% 75.08%, 100% 25%, 0% 25%);
  }
}

.text-wrapping--circle {
  line-height: 2.05;
  .text-wrapping__img {
    clip-path: none;
    shape-margin: 2em;
  }

  .text-wrapping__img--1 {
    mask-image: radial-gradient(circle at 100% 50%, transparent 60%, gold 60.25%);
    shape-outside: radial-gradient(circle at 100% 50%, transparent 60%, gold 60.25%);
  }
  .text-wrapping__img--2 {
    float: right;
    mask-image: radial-gradient(circle at 0% 50%, transparent 60%, gold 60.25%);
    shape-outside: radial-gradient(circle at 0% 50%, transparent 60%, gold 60.25%);
  }
}
