.variations-demo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 16px/1.2 Trebuchet MS, sans-serif;
  font-variation-settings: "wght" 250, "wdth" 75;
}

.variations-demo__container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  border: 5px solid #DDD;
  width: 600px;
  padding-bottom: 10px;
}

.variations-demo__char {
  width: 20%;
  text-align: center;
  font: 100px/.8 KairosSans, sans-serif;
}

.variations-demo__tip {
  position: absolute;
  white-space: nowrap;
  line-height: 1;
  font-size: 2rem;
  font-weight: bold;

  &--Width {
    top: 100%;
    left: 0;
    right: 0;
    margin-top: .5em;
    text-align: center;
  }
  &--Weight {
    background: red;
    top: 50%;
    bottom: 50%;
    right: 100%;
    margin: auto;
    margin-right: 1.5em;
    transform: translateX(50%) rotate(-90deg);
  }
}
