.img {
  &--full {
    width: 100%;
    height: auto;
  }

  &--screen {
    max-width: 100%;
  }
}

.video {
  height: 100%;
}

.disabled {
  color: #999;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden-includes {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: var(--slide-width);
  height: var(--slide-height);

  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.no-bottom-margin {
  margin-bottom: 0 !important;
}

.text-centered {
  text-align: center;
}

.text-green,
.text-blue {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: -3px;
    bottom: 0;
    left: -3px;
    border-radius: 3px;
  }
}

.text-green {
  &::before {
    background: greenyellow;
  }
}

.text-blue {
  &::before {
    // background: turquoise;
    background: aqua;
  }
}

.copyright {
  z-index: 2;
  font-size: 16px;
}

.copyright.right-top {
  top: -15px;
  right: 10px;
  transform-origin: 100% 100%;
  transform: rotate(-90deg);
}

.img-screen {
  // dirty hack for jumping slides
  max-height: 100%;
  height: 480px;
}
